.professional-cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 2.5rem 1.2rem;
  row-gap: 2.5rem;
  margin-bottom: 1.5rem;
}
@media (max-width: 600px) {
  .professional-cards-grid {
    gap: 1.5rem 0.5rem;
    row-gap: 1.5rem;
  }
}
